
.mamage-user-container {
    svg {
        padding-left: 7px;
    }

    .user-header {
        .title {
            margin-top: 10px;
        }
        .actions {
            padding: 10px 0px;
            .refresh{
                margin-right: 10px;
            }
        }
    }
}